*{
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Great Vibes', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
outline: none;
border: none;
}
html{
    scroll-behavior: smooth;
}
:root{
    --color-primary:#29d882;
    --color-primary-variant:#00bd95;
    --color-white:#fff;
    --color-light:#f0fcf9;
    --color-dark:#88949b;
    --color-black:#171c23;
    --color-off-black:#21272f;
    --bg-variant:#29d8831c;
    --transiition:.4s ease;
}
body{
    background: var(--color-white);
    color:var(--color-off-black);

}
h1,h2,h3,h4,h5{
font-weight: 700;
line-height: 130%;

}
h1{
    font-size: 60px;
}
h2{
    font-size: 44px;
    text-align: center;
  
    
    color: var(--color-black);
    width: moz-fit-content;
    margin: auto;
  

    position: relative;
}
h2::before{
    content: '';
    position: absolute;
  bottom: 0;
    background: var(--color-primary);
    left: -1rem;
    height: 3.4rem;
    width: 3.4rem;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);

}
h3{
    font-size: 34px;

}
h4{
    font-size: 28px;
}
h5{
    font-size: 20px;
}
p{
    font-size: 18PX;
    line-height: 110%;
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
    
}
.btn{
    display: inline-block;
    width: moz-fit-content;
    font-size: 19px;
    font-weight: 500;
    padding: 12px 30px;
    
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    background: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    
    -webkit-transition: var(--transiition);
    -moz-transition: var(--transiition);
    -ms-transition: var(--transiition);
    -o-transition: var(--transiition);
    transition: var(--transiition);
    cursor: pointer;
}
.btn:hover{
    background: var(--color-primary);
    box-shadow: none;
}
.container{
    width: 90%;
   height: auto;
    max-width: 1420px;
    margin:  auto;


}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    height: 3.5rem;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background: var(--color-white);
}
.nav-scroll{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.container.-nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-black);

}
.navlinks{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
.navlinks li a{
    color: var(--color-dark);
    font-size: 18px;
    font-weight: 400;
    position: relative;
   
    -webkit-transition:var(--transiition);
    -moz-transition:var(--transiition);
    -ms-transition:var(--transiition);
    -o-transition:var(--transiition);
    transition:var(--transiition);
}
.navlinks li a:before{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    
    bottom: -7px;
    left: 0;
    background: var(--color-primary);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
   
    -webkit-transition: var(--transiition);
    -moz-transition: var(--transiition);
    -ms-transition: var(--transiition);
    -o-transition: var(--transiition);
    transition: var(--transiition);
}
.navlinks li a:hover::before{
  
    width: 100%;
   
}
.navlinks li a:hover{
    color: var(--color-black);
}
.active{
    color: var(--color-d);
}
.active::before{
   width: 100% !important;
}
nav button{
    display: none;
}


/* -------------end of nav --------------- */


/* -------------header--------------- */
header{
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  
 
   overflow: hidden;
}
   .header-container{
    display: grid;
    grid-template-columns: auto 30rem;
    gap: 3.5rem;
    align-items: center;
    padding-bottom: 200px;
   }
   .container-header-container h3{
   margin: 1rem 0;
   color: var(--color-primary);
   }
   .container-header-container p{
   margin: 0 0 2rem;
   
   }
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-left h3{
 color:var(--color-primary) ;

}
.circle{
    height: 24rem;
    width: 24rem;
    position: relative;
    border: 1px solid var(--color-primary);
    
    -webkit-border-radius: 50%;
    
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    -webkit-animation: Moving 20s linear infinite;
    animation: Moving 20s linear infinite;
}
@keyframes Moving{
    to{
       
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
}
}

.circle a{
     height: 4rem;
     width: 4rem;
     display: flex;
     justify-content: center;
     align-items: center;
     background: var(--color-white);
     position: absolute;
     
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
     border-radius:50% ;
     color: var(--color-primary);
     font-size: 22px;
     box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
     
     -webkit-transition: var(--transiition);
     -moz-transition: var(--transiition);
     -ms-transition: var(--transiition);
     -o-transition: var(--transiition);
     transition: var(--transiition);
}
.circle a:hover{
    background: var(--color-primary);
    color: var(--color-white);
    

}

.circle a:nth-child(1){
    left: calc(50% - 2rem);
    top: -2rem;
}
.circle a:nth-child(2){
   top: calc(50% - 2rem);
    right: -2rem;
}
.circle a:nth-child(3){
   top: calc(50% - 2rem);
    left: -2rem;
}
.circle a:nth-child(4){
    left: calc(50% - 2rem);
    bottom: -2rem;
}
.hero-image{
    position: absolute;
    height: 19rem;
    width: 19rem;
    padding: 1rem;
    overflow: hidden;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: var(--color-primary);
}


/* -------------end of header ------------ */
/* -------------About------------ */

#about-container{
    padding: 30px 0;
}
.about-container{
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.about-container div{
    background: #e8fbf1;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;  
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
/* .about-image{
    
    display: flex;
    height: 200px;
    width: 200px;
    padding: 1rem;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -ms-border-radius:100%;
    -o-border-radius:100%;
    border-radius:100%;
    overflow: hidden;
    border: .4rem solid var(--color-primary);  
    background: var(--color-primary);
}
.about-image img{
  
     object-fit: contain;
     aspect-ratio: 1/1;
   
   
     

 } */
   /* end of about image section */




    .about-right p{
        margin: 1rem 0;
    }
    .about-right .btn{
        margin-top: 1rem;
       
    }
    #About h2{
    padding-top: 10rem;
        
    }
   
/* -------------end of About ------------ */
/* -------------skills  ------------ */



#skills h2{
    padding-top: 5rem;
        
    }

.skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
 align-items:center;
 margin-top: 5rem;


 margin-bottom: 10rem; 
   

}
.progress .info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.outer-row{
    width: 100%;
    height: .6rem;
    position: relative;
    background: var(--bg-variant);
    margin-bottom: 1rem;
}
.inner-row{
  background: var(--color-primary);
  width: 90%;
  height: 100%;
}
.progress:nth-child(2) .outer-row .inner-row{
width: 87%;
height: 100%;
}
.progress:nth-child(3) .outer-row .inner-row{
width: 90%;
height: 100%;
}
.progress:nth-child(4) .outer-row .inner-row{
width: 75%;
height: 100%;
}
.progress:nth-child(5) .outer-row .inner-row{
width: 40%;
height: 100%;
}

/* -------------end of skills ------------ */



/* -------------portfolio------------ */
#portfolio h2{
    padding-top: 8rem;
}
#portfolio{
    background: var(--bg-variant);

}
.portfolio-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 2%;
    margin-top: 2rem;

    margin-bottom: 10rem; 

}
.project{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project img{
  height: 14rem;
 
  object-fit: cover;

}
.project-action{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.project-action .btn{
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: var(--color-dark);
    margin-bottom: 2rem;
    padding: 10px 22px;
}
/* -------------end of portfolio ------------ */




/* -------------contact ------------ */


.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;

    margin-bottom: 20rem; 
    
}
.contact-container a{
   padding: 12px 13px;
   background: var(--color-primary);
   display: flex;
   border: 2px solid var(--color-primary);
   font-size: 22px;
   color: var(--color-white);
   
   -webkit-border-radius:50% ;
   -moz-border-radius:50% ;
   -ms-border-radius:50% ;
   -o-border-radius:50% ;
   border-radius:50% ;
   
   -webkit-transition: var(--transiition);
   -moz-transition: var(--transiition);
   -ms-transition: var(--transiition);
   -o-transition: var(--transiition);
   transition: var(--transiition);
   
}
.contact-container a:hover{
 color: var(--color-primary);
 background: transparent;
 }
.connect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   

}
.contact-form{
    text-align: left;


}
.form-group{
    margin-bottom: 20px;

}
input{
    width: 100%;
    padding: 12px;
    
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #333;
}
textarea{
    width: 500px;
    padding: 12px;
    
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #333;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
.submit{
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--color-primary);
    color: var(--color-black);
    cursor: pointer;
    border: none;
    
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    border-radius: none;
    align-items: center;
    justify-content: center;
}
/* -------------end of contact ------------ */



/* -------------footer ------------ */
footer {
   
    height: 6rem;
    background: var(--color-primary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
   color: var(--color-black);
   font-size: 19px;
}
/* -------------end of footer------------ */
.container {
    opacity: 0;
    transform: translateX(-50px); /* Initial position off the left side */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.container.show {
    opacity: 1;
    transform: translateX(0); /* Move to the original position (0) */
}






/* -------------Media screens------------ */
/* max-width:1200px */
@media (max-width:1200px){
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 50px;
    }
    h1{
        font-size: 50px;
    }

}
/* max-width:1200px */
@media (max-width:1200px){
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 38px;
    }
    
    
}
/* max-width:1024px */
@media (max-width:1024px){
    h1{
        font-size: 40px;
        line-break: auto;
    }
    h2{
        font-size: 38px;
        line-break: auto;
    }
    p{
        line-break: auto;

    }
.navlinks{
    position: absolute;
    top: 5rem;
    width: 20rem;
    height: 100vh;
    background: var(--color-primary);
    right: -100%;
    flex-direction: column;
    gap: 0;
    box-shadow:0 2rem 5rem rgba(0, 0, 0, 0.3);
    
    -webkit-transition: var(--transiition);
    -moz-transition: var(--transiition);
    -ms-transition: var(--transiition);
    -o-transition: var(--transiition);
    transition: var(--transiition);
}
.nav-links-block{
    right: 0;

}
.navlinks li{
   
    width: 100%;

}
.navlinks li a{
   display: inline-block;
   text-align: center;
   padding: 2rem 0;
    width: 100%;
    color: var(--color-white) !important;

}
.navlinks li a::before{
 display: none !important;

}
.active{
    background: var(--color-primary-variant);

}
nav button{
display: inline-block;
font-size: 1.8rem;
color: var(--color-black);


}
.header-container{
    grid-template-columns: 1fr;


}
.header-right{
    grid-row: 1;
    margin-bottom: 2rem;
    
}
.header-left{
    text-align: center;
}
/* -------------about------------ */
.about-container{
    grid-template-columns: 1fr;
    padding: 0;
    height: auto;
}
.about-image{
    width: 60%;
    margin: auto;
    /* display: none; */


}
.about-right{
    text-align: center;
}
#About h2{
    padding-top: 0;
        
    }
     /* -----skills------ */
    .skills-container{
        grid-template-columns: 1fr;

    }
    .skill-right{
        grid-row: 1;
    }
     /* -----end of skills------ */

     /* -----skills------ */
.portfolio-container{
        grid-template-columns: 1fr 1fr;

}
}
 
/* max-width:600px */
@media (max-width:600px){
    /* -----nav------ */
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 34px;
        margin-bottom: 2rem;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 18px;
    }
    
    .btn{
        padding: 10px 20px;
    }
.navlinks{
    width: 15rem;
  

}
.about-container{
    margin-top: 7rem;
}
#About h2{
    padding-top: 5rem;
        
    }
.header-container .btn{
    .btn{
        padding: 5px 18px;
    }


}
   .header-container{
    margin-top: 7rem;
    
   
    gap: 1rem;
    align-items: center;
   }
   .container-header-container h3{
   margin: 0.5rem 0;
   color: var(--color-primary);
   }
   .container-header-container p{
   margin: 0 0 1rem;
    
   }

/* -----end nav------ */
.circle{
    height: 16rem;
    width: 16rem;
}
.circle a{
    height: 3rem;
    width: 3rem;
    font-size: 20px;

}
.circle a:nth-child(1){
    left: calc(50% - 1.5rem);
    top: -1.5rem;
}
.circle a:nth-child(2){
   top: calc(50% - 1.5rem);
    right: -1.5rem;
}
.circle a:nth-child(3){
   top: calc(50% - 1.5rem);
    left: -1.5rem;
}
.circle a:nth-child(4){
    left: calc(50% - 1.5rem);
    bottom: -1.5rem;
}
.hero-image{
height: 12rem;
width: 12rem;
}
.portfolio-container{
    grid-template-columns: 1fr;
    gap: 0;
   
 
   

}
.project-action{
    margin: 0;
   
}
}
@media screen and (max-width: 600px) {
    .container.portfolio-container{
        
        opacity: 1;
        -webkit-transition:0;
        -moz-transition:0;
        -ms-transition:0;
        -o-transition:0;
        transition:0;
        margin: 0 70px;
}
.contact-container{
    margin-bottom: 100px;
    margin-top: 50px;
    margin-right: 30px;
}
.contact-container h2{
    margin-bottom: 10rem;
}
.connect{
    grid-template-columns: 1fr;
    margin-bottom: 50px;
     
        gap: 0;
        margin-left: 20px;

}

input{
    width:100%;
    padding: 12px;
    
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #333;
    font-size: 1.5rem;
}
textarea{
    width: 350px;
    padding: 12px;
    
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #333;
    font-size: 1.5rem;
}

}
/* -------------end of media screens------------ */



